.terms-wrapper {
  margin-top: 3rem;
  display: flex;
  gap: .75rem;
  align-items: flex-start;

  & strong {
    font-weight: 500;
    color: var(--highlight);
  }
}

.checkbox-wrapper {
  position:relative;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset:0
  }
  .checkbox-image {
    flex: 0 0 1.5rem;
    height: 1.5rem;
    background-image: url(../assets/icons/square.svg);
  }

   &:hover, &:focus-within {
    border: 1px solid var(--highlight);

    & .checkbox-image {
      background-image: url(../assets/icons/square-1.svg);
    }
  }

   &:has(:checked) {
    border: 2px solid var(--highlight);

    & .checkbox-image {
      background-image: url(../assets/icons/checkmark-square-01.svg);
    }
  }
}